.main
  .main__header
    .main__header__left
      %ul.main__header__left__group
        %li.main__header__left__group--name
          = @group.name
        %li.main__header__left__group--member
          = "Member:"
          - @members.each do |member|
            = member.name
    .main__header__right
      = link_to edit_group_path(@group), class: "main__header__right--btn" do
        Edit

  .main__messages
    = render @messages

  .form
    .new_message
      = form_for [@group, @message] do |f|
        .new_message__box
          = f.text_field :content, class: "new_message__box__input", placeholder: "type a message"
          = f.label :image, class: "new_message__box__image" do
            = icon('far', 'image')
            = f.file_field :image, class: "box__image__file"
        = f.submit "Send", class: "new_message__btn"