.chat-side
  .side__header
    .side__header__box
      %p.side__header__box__user
        = current_user.name
      %ul.side__header__box__list
        %li.side__header__box__list--new_group
          = link_to new_group_path, class: "list__btn" do
            = icon('far', 'edit', class: "list__btn--icon")
        %li.side__header__box__list--edit_account
          = link_to edit_user_path(current_user.id), class: "list__btn" do
            = icon('fas', 'cog', class: "list__btn--icon")
  .side__left
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .side__left__group
          %p.side__left__group--name
            = group.name
          %p.side__left__group--message
            = group.show_last_message